footer {
    background-color: var(--footer-background);
    color: var(--footer-text-color);
    padding: 20px;
    text-align: center;
    transition: color .4s ease-in-out, background-color .4s ease-in-out;

    nav {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;

        a {
            color: var(--link-color);
            margin: 0 10px;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    a img {
        width: 24px;
        height: 24px;
        filter: var(--footer-img-filter);
    }
}