header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15%;
    margin-top: 7%;
    margin-left: -3%;
    margin-right: -3%;
    background-color: #333;
}