main {
    padding: 2rem;
}
button {
    background-color: #2180d1;
    color: #fff;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    border: none;
    &:hover {
        background-color: #0056b3;
    }
}


#addEventBtn {
    margin-bottom: 2rem;
}

.eventsSection {
    div{
        h2 {
            margin-bottom: 1rem;
            margin-left: 30px;
        }
        p{
            margin-left: 60px;
        }

    }
    table {
        width: 100%;
        margin-top: 20px;
        td{
            border-radius: 10px;
            &.ok{
                background-color: #d1ffe2;
                border: 0.5px solid #a7fac5;

            }
            &.notOk{
                background-color: #fce8e8;
                border: 0.5px solid #fac1c1;
            }
            &.maybe{
                background-color: #faf3d3;
                border: 0.5px solid #fae586;
            }
        }
        th, td {
            border: 0;
            padding: 12px;
            text-align: center;
            margin: 0;
        }
        th {
            background-color: #f2f2f2;
            font-weight: bold;
        }
        
        tbody{
            .user{
                background-color: #c8e4ff;
                border: 2px solid #fff;
                text-align: left;
                padding: .5rem .3rem;
            }
        }
    }
}