:root {
    --body-bg-color: #fff;
    --body-text-color: #333;

    --header-background: #2180d1;
    --text-color: #fff;

    --add-bg-color: #f2f2f2;

    --button-bg-color: #fff;
    --button-text-color: #2180d1;
    --button-hover: #0056b3;

    --add-button-bg: #2180d1;
    --add-button-text-color: #fff;
    --add-button-hover: #0056b3;

    --th-background-color: #f2f2f2;

    --td-ok-bg: #d1ffe2;
    --td-notok-bg: #fce8e8;
    --td-maybe-bg: #faf3d3;

    --footer-background: #e1e1e1;
    --footer-text-color: #373a3c;
    --link-color: #373a3c;
}
  
.darkmode {
    --body-bg-color: #1e2329;
    --body-text-color: #fff;

    --header-background: #343642;
    --text-color: #fff;

    --add-bg-color: #373a3c;

    --button-color: #fff;
    --button-text-color: #333;
    --button-bg-color: #e1e1e1;
    --button-hover: #1e2329;

    --add-button-bg: #e1e1e1;
    --add-button-text-color: #333;
    --add-button-hover: #353944;

    --th-background-color: #353944;

    --td-ok-bg: #99bea7;
    --td-notok-bg: #c49595;
    --td-maybe-bg: #dfcf87;

    --footer-background: #343642;
    --footer-text-color: #e1e1e1;
    --link-color: #e1e1e1;
}

body {
    font-family: "Segoe UI", "Source Sans Pro", Arial, sans-serif;
    background-color: var(--body-bg-color);
    color: var(--body-text-color);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@import "header";
@import "footer";
@import "main";
@import "darkmode";
@import "addEvent";
@import "mobile";