:root {
  --body-bg-color: #fff;
  --body-text-color: #333;
  --header-background: #2180d1;
  --text-color: #fff;
  --add-bg-color: #f2f2f2;
  --button-bg-color: #fff;
  --button-text-color: #2180d1;
  --button-hover: #0056b3;
  --add-button-bg: #2180d1;
  --add-button-text-color: #fff;
  --add-button-hover: #0056b3;
  --th-background-color: #f2f2f2;
  --box-shadow-color: #a8d1f5c5 3px 6px 30px ,#a8d1f5c5 -2px 0px 150px;
  --h2-border: 0.5px #2180d1 solid;
  --td-ok-bg: #d1ffe2;
  --td-notok-bg: #fce8e8;
  --td-maybe-bg: #faf3d3;
  --footer-background: #e1e1e1;
  --footer-text-color: #373a3c;
  --link-color: #373a3c;
}

.darkmode {
  --body-bg-color: #1e2329;
  --body-text-color: #fff;
  --header-background: #343642;
  --text-color: #fff;
  --add-bg-color: #373a3c;
  --button-color: #fff;
  --button-text-color: #333;
  --button-bg-color: #e1e1e1;
  --button-hover: #1e2329;
  --add-button-bg: #e1e1e1;
  --add-button-text-color: #333;
  --add-button-hover: #353944;
  --th-background-color: #353944;
  --box-shadow-color: rgb(0,0,0,0.7) 3px 6px 30px ,rgb(0,0,0,0.7) -2px 0px 150px;
  --h2-border: 0.5px #fae586 solid;
  --td-ok-bg: #99bea7;
  --td-notok-bg: #c49595;
  --td-maybe-bg: #dfcf87;
  --footer-background: #343642;
  --footer-text-color: #e1e1e1;
  --link-color: #e1e1e1;
  --footer-img-filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(215deg) brightness(103%) contrast(101%);
}

body {
  font-family: "Segoe UI", "Source Sans Pro", Arial, sans-serif;
  background-color: var(--body-bg-color);
  color: var(--body-text-color);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  transition: color 0.4s ease-in-out, background 0.4s ease-in-out;
}

@media only screen and (min-width: 770px) {
  main {
    padding: 2rem;
    margin-left: 50px;
  }
  .mobile {
    display: none;
  }
  .tableCard {
    overflow-x: scroll;
  }
}
@media only screen and (max-width: 769px) {
  main {
    padding: 0;
    margin-left: 0;
  }
  .eventsSection {
    max-width: 100px;
  }
  .desktop {
    display: none;
  }
  table {
    background-color: var(--th-background-color);
    border-radius: 10px;
    margin: 20px 0;
  }
}
header {
  background-color: var(--header-background);
  color: var(--text-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color 0.4s ease-in-out, background 0.4s ease-in-out;
}

header img {
  max-height: 40px;
}

header button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

header button:hover {
  background-color: var(--button-hover);
  color: #fff;
}

footer {
  background-color: var(--footer-background);
  color: var(--footer-text-color);
  padding: 20px;
  text-align: center;
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}
footer nav {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
footer nav a {
  color: var(--link-color);
  margin: 0 10px;
  text-decoration: none;
}
footer nav a:hover {
  text-decoration: underline;
}
footer a img {
  width: 24px;
  height: 24px;
  filter: var(--footer-img-filter);
}

button {
  background-color: var(--add-button-bg);
  color: var(--add-button-text-color);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: var(--add-button-hover);
  color: #fff;
}

#addEventBtn {
  margin-bottom: 2rem;
}

.eventsSection .tableCard {
  border-radius: 15px;
  transition: box-shadow 0.4s ease-in-out;
  box-shadow: var(--box-shadow-color);
  padding: 1%;
  margin-bottom: 5%;
}
.eventsSection div h2 {
  margin-bottom: 2.5%;
  text-align: center;
  border-bottom: var(--h2-border);
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
}
.eventsSection div p {
  text-align: center;
}
.eventsSection .desktop table {
  width: 80%;
  margin-top: 20px;
}
.eventsSection .desktop table td {
  border-radius: 10px;
}
.eventsSection .desktop table td.ok {
  background-color: var(--td-ok-bg);
  border: 0.5px solid #a7fac5;
}
.eventsSection .desktop table td.notOk {
  background-color: var(--td-notok-bg);
  border: 0.5px solid #fac1c1;
}
.eventsSection .desktop table td.maybe {
  background-color: var(--td-maybe-bg);
  border: 0.5px solid #fae586;
}
.eventsSection .desktop table th, .eventsSection .desktop table td {
  border: 0;
  padding: 12px;
  text-align: center;
  margin: 0;
}
.eventsSection .desktop table th {
  background-color: var(--th-background-color);
  font-weight: lighter;
}
.eventsSection .desktop table th.table-hidden {
  background: transparent;
}
.eventsSection .desktop table th.table-date {
  font-weight: lighter;
  border-radius: 4px;
  height: 50px;
}
.eventsSection .desktop table .table-date .table-date-day {
  font-size: 30px;
  font-weight: 350;
  text-align: center;
  padding: 0;
  margin: 0;
}
.eventsSection .desktop table .table-date div {
  display: flex;
  justify-content: space-between;
}
.eventsSection .desktop table .table-date .table-date-month {
  font-size: 20px;
  padding: 0;
  margin: 0;
}
.eventsSection .desktop table .table-date .table-date-years {
  font-size: 20px;
  padding: 0;
  margin: 0;
}
.eventsSection .desktop table tr th.classTh {
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.eventsSection .desktop table tr th.classTh a {
  cursor: pointer;
}
.eventsSection .desktop table tbody .user {
  background-color: #c8e4ff;
  border: 2px solid #fff;
  text-align: left;
  padding: 0.5rem 0.3rem;
}
.eventsSection .mobile table {
  justify-content: center;
}
.eventsSection .mobile table td {
  border: 0;
  padding: 12px;
  margin: 0;
}
.eventsSection .mobile table .table-date-mobile {
  background-color: var(--body-bg-color);
  max-width: 100px;
  border-radius: 4px;
}
.eventsSection .mobile table .table-date-mobile .table-div-date {
  display: flex;
  justify-content: space-between;
}
.eventsSection .mobile table .table-date-mobile .table-date-day {
  font-size: 20px;
  font-weight: 350;
  text-align: center;
  padding: 0;
  margin: 0;
}
.eventsSection .mobile table .table-date-month {
  font-size: 15px;
  padding: 0;
  margin: 0;
}
.eventsSection .mobile table .table-date-years {
  font-size: 15px;
  padding: 0;
  margin: 0;
}

.editBtn {
  margin: 20px;
}

dialog {
  background-color: var(--add-bg-color);
  width: 300px;
  text-align: center;
  height: 200px;
  border: none;
  border-radius: 4px;
}
dialog input {
  padding: 0.5rem 1rem;
  width: 10rem;
}
dialog table {
  width: 80%;
  margin-top: 20px;
}
dialog table td {
  border-radius: 10px;
}
dialog table td.ok {
  background-color: var(--td-ok-bg);
  border: 0.5px solid #a7fac5;
}
dialog table td.notOk {
  background-color: var(--td-notok-bg);
  border: 0.5px solid #fac1c1;
}
dialog table td.maybe {
  background-color: var(--td-maybe-bg);
  border: 0.5px solid #fae586;
}
dialog table th, dialog table td {
  border: 0;
  padding: 12px;
  text-align: center;
  margin: 0;
  border-radius: 5px;
}
dialog table th {
  background-color: var(--th-background-color);
  font-weight: bold;
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}
dialog table th.table-hidden {
  background: transparent;
}
dialog table th.table-date {
  font-weight: bold;
  align-items: center;
  text-align: center;
  border-radius: 4px;
}
dialog table thead .table-date {
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}
dialog table thead th {
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}
dialog table tbody .user {
  background-color: #c8e4ff;
  border: 2px solid #fff;
  text-align: left;
  padding: 0.5rem 0.3rem;
}

.eventFormSection {
  position: fixed;
  text-align: center;
  flex-direction: column;
  border: 0.5px solid rgb(39, 38, 38);
  box-shadow: 3px 3px 10px rgb(58, 57, 55);
  margin-left: 20%;
  padding: 2%;
  border-radius: 4px;
  width: 50%;
  background-color: var(--add-bg-color);
  color: var(--body-text-color);
  overflow-y: scroll;
}
.eventFormSection h2 {
  margin-left: 6%;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
}
.eventFormSection input:active {
  transform: scale(0.995);
}
.eventFormSection textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  padding: 8px;
  margin: 3px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  transition: border-color 0.3s ease;
}
.eventFormSection textarea:active {
  transform: scale(0.995);
}
.eventFormSection .closeFormButton {
  float: right;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  color: var(--body-text-color);
}

#eventForm, #editEventForm {
  display: flex;
  flex-direction: column;
}
#eventForm input, #editEventForm input {
  width: 100%;
  padding: 8px;
  margin: 3px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  transition: border-color 0.3s ease;
}
#eventForm #addDates, #editEventForm #addDates {
  margin: 10px;
}

.alert {
  position: fixed;
  margin-top: 30%;
  margin-left: 73%;
  z-index: 999999;
  padding: 20px;
  color: rgb(0, 0, 0);
  margin-bottom: 15px;
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s linear;
}/*# sourceMappingURL=style.css.map */