:root {
  --body-bg-color: #fff;
  --body-text-color: #333;
  --header-background: #2180d1;
  --text-color: #fff;
  --add-bg-color: #f2f2f2;
  --button-bg-color: #fff;
  --button-text-color: #2180d1;
  --button-hover: #0056b3;
  --add-button-bg: #2180d1;
  --add-button-text-color: #fff;
  --add-button-hover: #0056b3;
  --th-background-color: #f2f2f2;
  --td-ok-bg: #d1ffe2;
  --td-notok-bg: #fce8e8;
  --td-maybe-bg: #faf3d3;
  --footer-background: #e1e1e1;
  --footer-text-color: #373a3c;
  --link-color: #373a3c;
}

.darkmode {
  --body-bg-color: #1e2329;
  --body-text-color: #fff;
  --header-background: #343642;
  --text-color: #fff;
  --add-bg-color: #373a3c;
  --button-color: #fff;
  --button-text-color: #333;
  --button-bg-color: #e1e1e1;
  --button-hover: #1e2329;
  --add-button-bg: #e1e1e1;
  --add-button-text-color: #333;
  --add-button-hover: #353944;
  --th-background-color: #353944;
  --td-ok-bg: #99bea7;
  --td-notok-bg: #c49595;
  --td-maybe-bg: #dfcf87;
  --footer-background: #343642;
  --footer-text-color: #e1e1e1;
  --link-color: #e1e1e1;
}

body {
  font-family: "Segoe UI", "Source Sans Pro", Arial, sans-serif;
  background-color: var(--body-bg-color);
  color: var(--body-text-color);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  background-color: var(--header-background);
  color: var(--text-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  max-height: 40px;
}

header button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

header button:hover {
  background-color: var(--button-hover);
  color: #fff;
}

footer {
  background-color: var(--footer-background);
  color: var(--footer-text-color);
  padding: 20px;
  text-align: center;
}
footer nav {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
footer nav a {
  color: var(--link-color);
  margin: 0 10px;
  text-decoration: none;
}
footer nav a:hover {
  text-decoration: underline;
}
footer a img {
  width: 24px;
  height: 24px;
}

main {
  padding: 2rem;
  margin-left: 50px;
}

button {
  background-color: var(--add-button-bg);
  color: var(--add-button-text-color);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: var(--add-button-hover);
  color: #fff;
}

#addEventBtn {
  margin-bottom: 2rem;
}

.eventsSection div h2 {
  margin-bottom: 1rem;
  margin-left: 30px;
}
.eventsSection table {
  width: 80%;
  margin-top: 20px;
}
.eventsSection table td {
  border-radius: 10px;
}
.eventsSection table td.ok {
  background-color: var(--td-ok-bg);
  border: 0.5px solid #a7fac5;
}
.eventsSection table td.notOk {
  background-color: var(--td-notok-bg);
  border: 0.5px solid #fac1c1;
}
.eventsSection table td.maybe {
  background-color: var(--td-maybe-bg);
  border: 0.5px solid #fae586;
}
.eventsSection table th, .eventsSection table td {
  border: 0;
  padding: 12px;
  text-align: center;
  margin: 0;
}
.eventsSection table th {
  background-color: var(--th-background-color);
  font-weight: bold;
}
.eventsSection table th.table-hidden {
  background: transparent;
}
.eventsSection table th.table-date {
  font-weight: bold;
  align-items: center;
  text-align: center;
  border-radius: 4px;
}
.eventsSection table tbody .user {
  background-color: #c8e4ff;
  border: 2px solid #fff;
  text-align: left;
  padding: 0.5rem 0.3rem;
}
.eventsSection .editBtn {
  margin: 20px;
}
.eventsSection dialog {
  background-color: var(--add-bg-color);
  width: 300px;
  text-align: center;
  height: 200px;
  border: none;
  border-radius: 4px;
}
.eventsSection dialog input {
  padding: 0.5rem 1rem;
  width: 10rem;
}
.eventsSection dialog button {
  margin: 20px;
}

.eventFormSection {
  position: fixed;
  text-align: center;
  flex-direction: column;
  border: 0.5px solid rgb(39, 38, 38);
  box-shadow: 3px 3px 10px rgb(58, 57, 55);
  margin-left: 20%;
  margin-top: 10%;
  padding: 2%;
  border-radius: 4px;
  width: 50%;
  background-color: var(--add-bg-color);
}
.eventFormSection .closeFormButton {
  float: right;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  color: var(--body-text-color);
}

#eventForm, #editEventForm {
  display: flex;
  flex-direction: column;
}
#eventForm input, #editEventForm input {
  width: 100%;
  padding: 8px;
  margin: 3px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  transition: border-color 0.3s ease;
}
#eventForm #addDates, #editEventForm #addDates {
  margin: 10px;
}

@media screen and (max-width: 1024px) {
  #addEventBtn {
    margin-left: 25%;
  }
  .eventsSection {
    margin-left: -20%;
    text-align: center;
    position: relative;
    overflow-x: hidden;
  }
  .eventsSection div {
    overflow-x: scroll;
  }
  .eventsSection div h2 {
    position: sticky;
    left: 0;
    top: 0;
    margin-left: 0;
  }
  .eventsSection div p {
    position: sticky;
    left: 0;
    top: 0;
  }
  .eventsSection div .btnDiv {
    position: sticky;
    left: 0;
    top: 0;
  }
}/*# sourceMappingURL=style.css.map */